<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="Library" connectionString="Server=DESKTOP-EE7L8AI\ELSAYEDHAMDY;Database=Library;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <add name="Library" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=Library;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="master" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=Library;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="master" connectionString="Server=DESKTOP-EE7L8AI\ELSAYEDHAMDY;Database=master;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
  <userSettings>
    <Library.Properties.Settings>
      <setting name="restarting" serializeAs="String">
        <value>False</value>
      </setting>
    </Library.Properties.Settings>
  </userSettings>
</configuration>